
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Rajdhani:wght@600&family=Titillium+Web:wght@200&display=swap');

$font1:'Titillium Web', sans-serif;
$color1:#3CA643;
$font2:'Rajdhani', sans-serif;
$font3:'Quicksand', sans-serif;

$colores: (
    primero: orange,
    segundo: white,
    tercero: black,
    
);


// font-family: 'Quicksand', sans-serif;
// font-family: 'Rajdhani', sans-serif;
// font-family: 'Titillium Web', sans-serif;





.logo{
    background-color: white;
    font-size: 50px;
    font-family: $font1;
    
}
/*se agrego extends como parte de la entrega de sass2+seo*/

.logo--nuevo{
    @extend .logo;
    background-color: #3CA643;
    color:aliceblue;
}

/*se agrega mixing para los parrafos de las pages para mantener el mismo formato*/

@mixin estilop  ($textoSize , $colorP, $bcolor) {
    font-size: $textoSize;
    color: $colorP;
    background-color: $bcolor;

 }

 .parrafo{
    @include estilop(40px, #0d98ec, black )
   
}

#producto{
    background-color:#3CA643;
}

.fondoverde{
    background-color: #3CA643;
}

.forimage{
    background-image: url("./img/1Plillocannabis.JPEG");
    height: 1080px;
    color:greenyellow;
    
}

.colorbarra{
    font-size: 30px;
    margin:10px;
    
}

ul li {
    &:hover{
        color:red 
    }
}



.carousel-indicators{

    li{
    height: 20px;
    width: 15px;
    border-radius: 0%;
    border: 2px solid #3CA643;

}
}

footer i{
    font-size: 35px;

}

.marginIcon{
    
    font-size: 35px;
    background-color: $color1;
   
    
}

.logoverde{
    color: #3CA643;
}

.icolor{
    color:black;
}

/*fondo degradado de los html*/

.fondo2{
    background-image: radial-gradient(circle at -4.17% 4.55%, #fffc8e 0, #fffd7f 7.14%, #fffe71 14.29%, #fffd64 21.43%, #fffc57 28.57%, #f3fa4c 35.71%, #d6f643 42.86%, #b5f23c 50%, #90ed3b 57.14%, #64e940 64.29%, #0ce44a 71.43%, #00e057 78.57%, #00dc66 85.71%, #00d878 92.86%, #00d58a 100%);
}

@import "_footer"



